:root{
    --main: rgb(236, 236, 13);
    --bg: #f1e1d2;
    --black: rgb(191, 29, 29);
    --white: white;
    --box-shadow: 0 .5rem 1rem rgba(196, 59, 59, 0.1);
} 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
    text-decoration: none;
}
body{
    background-color: brown;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--main);
    border-radius: 5rem;
}
section{
    padding: 8rem 7%;
}
.btn{
    font-size: 1.7rem;
    display: inline-block;
    background: var(--main);
    color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
    padding: 0.9rem 3rem;
    margin-top: 1rem;
    z-index: 0;
    position: relative;
    overflow: hidden;
}
.header{
    position: fixed;
    top: 0; left: 0;right: 0;
    z-index: 1000;
    background: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}
.header .navbar a{
    font-size:1.7rem;
    color: var(--black);
    margin: 0 1 rem;
}
.header .navbar a:hover{
    color: var(--main);
}
.header .icons div{
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: var(--black);
}
.header .icons div:hover{
    color: var(--main);
}

#menu-btn{
    display: none;
}

/*login form*/
.header .login-form{
    position:absolute;
    left: 115%;
    right:-105%;
    background: var(--black);
    border-radius: .5rem;
    box-shadow:var(--box-shadow);
    width: 35rem;
    padding: 2rem;
}
.header .login-form.active{
    right: 2rem;
    transition: .4s linear;
}
.header .login-form h3{
    font-size: 2.2rem;
    color: var(--black);
    text-transform: uppercase;
    text-align: center;
}
.header .login-form .box{
    font-size: 1.5rem;
    padding:1rem 1.2rem;
    border: .1rem solid rgba(0, 0, 0, 0.1);
    margin: .7rem 0;
    color: var(--black);
    width: 100%;
}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(pregnant-cat.jpg) no-repeat;
    background-size: cover;
    background-position: top;
}
.home .content{
    max-width: 60rem;
}
.home .content h3{
    color: var(--white);
    font-size: 6rem;
    line-height: 1.4;
    font-weight: 400;
}
.home.wave{
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    height: 12rem;
}
.about .box-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
}
.about .deco-title{
    font-size: 10rem;
    font-weight: 700;
    white-space: nowrap;
    line-height: 0.5;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--main);
    transform-origin: top left;
    transform: rotate(0.25turn);
    position: absolute;
    top: 115%;
    left: 48%;
    z-index: -1;
}
.about .box-container .image{
    flex: 1 1 31rem;
}
.about .box-container .image img{
    width: 96%;
}
.about .content{
    flex: 1 1 41rem;
}
.about .content .title{
        font-size: 4rem;
        color: black;
    }
.about .content p{
        font-size: 2.4rem;
        color: #444;
        padding: 1rem 0;
        line-height: 2;
    }
    #card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      .card {
        flex-basis: 300px;
        margin: 10px;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      }
      
      .card img {
        display: block;
        max-width: 100%;
      }
      
      .card h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }
      
      .card p {
        font-size: 16px;
        margin-bottom: 10px;
      }
      button {
        background-color: #af4c8e;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      
      button:hover {
        opacity: 0.8;
      }